@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
button {
    background-color: green;
    color: white;
}
.titulo {
    color: aqua;
}
.apresentacao {
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 615px;
}
.apresentacao__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.apresentacao__links {
    display: flex;
    justify-content: space-between;
}
.apresentacao__link__instagram {
    background-color: aqua;
    color: black;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 280px;
    padding: 21.5px;
    text-decoration: none;
   font-family: "Montserrat", sans-serif;
}
.apresentacao__link__github {
    background-color: aqua;
    color: black;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 280px;
    padding: 21.5px;
    text-decoration: none;
   font-family: "Montserrat", sans-serif;
}

