@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Walter+Turncoat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}
.conteudos__titulos {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}
.conteudos {
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}